body {
    background-color: #aed1e8;
}

#div-botao {
    display:block;
    width: 100%;
    margin-left: -10px;
    margin-top: -10px;
    background-color: #3a7394;
    height:50px;
    
}

.botao {
}

#botao-editar {
    display: inline;
    margin: 1px;
    width: 50px;
    height: 10px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 2px;
    background-color: #3a7394;
    border-radius: 4px;
}

#botao-apagar:hover {
    background-color: #8f6335;
}
#botao-editar:hover {
    background-color: #8f6335;
}

#botao-apagar {
    display: inline;
    margin: 1px;
    width: 50px;
    height: 10px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 2px;
    background-color: #3a7394;
    border-radius: 4px;
}


table {
    
    margin-left: 2%;
    margin-top: 30px;
    border: 1px solid black;
    width: 50%;
    text-align:center;
    border-collapse: collapse
}
th {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 10px;
    background-color: saddlebrown;
    margin-left: 2%;
    margin-top: 30px;
    
}
td{
    height:24px;
}
th, td{
    border: 1px solid black;
}
